name: Publish

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/fuso/
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
      - name: Publish package
        run: uv build && uv publish
      - name: Run GoReleaser
        env:
          GITHUB_TOKEN: "${{ secrets.PERSONAL_ACCESS_TOKEN }}"
        run: goreleaser release --clean
