name: Publish

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/fuso/
    permissions:
      id-token: write
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          token: "${{ secrets.PERSONAL_ACCESS_TOKEN }}"
      - name: Get Version Info
        id: version
        shell: python
        run: |
          import tomllib
          from pathlib import Path

          pyproject_path = Path("pyproject.toml")
          content = pyproject_path.read_text(encoding="utf-8")
          pyproject_data = tomllib.loads(content)
          name = pyproject_data["project"]["name"]
          version = pyproject_data["project"]["version"]

          if version != "${{ github.ref_name }}".lstrip("v"):
              raise ValueError(f"Version mismatch: pyproject.toml has {version} but tag is ${{ github.ref_name }}")

          print(f"::set-output name=name::{name}")
          print(f"::set-output name=version::{version}")
      - uses: jdx/mise-action@v3
      - name: Build package
        run: uv build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
      - name: Upload release to GitHub
        uses: softprops/action-gh-release@v1
        env:
          PACKAGE_NAME: ${{ steps.version.outputs.name }}
          VERSION: ${{ steps.version.outputs.version }}
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          tag_name: ${{ env.VERSION }}
          body_path: "body.md"
          files: |
            dist/${{ env.PACKAGE_NAME }}-${{ env.VERSION }}-py3-none-any.whl
            dist/${{ env.PACKAGE_NAME }}-${{ env.VERSION }}.tar.gz
